[submodule "st7735"]
	path = st7735
	url = git@github.com:kubanecxxx/st7735_driver.git
[submodule "framework_cpp"]
	path = framework_cpp
	url = git@github.com:kubanecxxx/framework_cpp.git 
[submodule "delay"]
	path = delay
	url = git@github.com:kubanecxxx/delay_class.git
